body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #c5ebde;
}

.main-container {
    background: #7cb8c0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.877);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.profile-image {
    margin-bottom: 20px;
}

.profile-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-image img:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.877);

}

.profile-info {
    margin-bottom: 20px;
    border-radius: 20px;
}

.profile-info:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.877);
}

.profile-info h1 {
    margin: 0;
    font-size: 24px;
    color: #000;
}

.profile-info p {
    margin: 2px 0;
    color: #161313;
}

.profile-info span {
    color: #000000;
}

.about {
    font-size: 14px;
    line-height: 1.6;
    color: #161313;
    border-radius: 20px;
}

.about:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.877);
}

.about p {
    /* en fazla 4 satir olucak */
    line-clamp: 4;
    margin: 0;
}

nav {
    background: #7cb8c0;
    padding: 10px 0;
    text-align: left;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px 10px;
}

nav ul li a {
    text-decoration: none;
    color: #26a806;
    font-size: 18px;
}

nav ul li a:hover {
    color: #0047ca;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-info {
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.game-info h1 {
    font-size: 2rem;
}

.game-info h3 {
    font-size: 1.2rem;
}

.game-info p {
    font-size: 1.2rem;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#btn {
    font-size: 1.5rem;
    padding: 10px 100px;
    background-color: #01268b;
    border-radius: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
}



.input {
    width: 40px;
    border: none;
    border-bottom: 3px solid rgba(0, 0, 0, 0.5);
    margin: 0 2px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 36px;
    cursor: pointer;
    pointer-events: all;
}

.input:focus {
    border-bottom: 3px solid orange;
    outline: none;
}

.inputs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.message {
    padding: 2px 50px;
    border-radius: 10px;
    width: 80%;
}

.message-success {
    background-color: #4CAF50;
    display: none;
}

.message-error {
    background-color: #f44336;
    display: none;
}

.message p {
    font-size: 1rem;
    color: #fff;
    text-align: center;
}

.heart {
    display: none;
}
